body, html {
	overflow: hidden; /*hide scrollbars and disable scrolling*/
	height: 100%; /*ensure body takes full height of viewport*/
}


/*for my chromebook*/
@media (max-width: 1370px) {

	h3 {
		text-align: center;
	}
	
	#mainImgWrapper {
		width: 100%;
		position: relative;

	}

	.mainImg {
		position: absolute;
		width: 100%;
	}


	.flexbox {
		display: flex;
		gap: 20px;
		width: 95%;
		text-align: center;
		margin: auto;
	}

	.flexbox > * {
		flex: 1;
	}

	#regionselect {
		text-align: center;
	}

	#center {
		flex: 3;
	}

	input[type="checkbox"] {
		accent-color: rgb(255, 153, 153);
	}

}

@media only screen and (max-width: 290px) {

body {
	margin: 1px;
}

#leftside {
	display: none;
}

#rightside {
	display: none;
}
