body, html {
	overflow: hidden; /*hide scrollbars and disable scrolling*/
	height: 100%; /*ensure body takes full height of viewport*/
}

/*for my chromebook*/
@media screen and (min-width: 900px) and (max-width: 2000px) { /*max 1370px for chromebook*/

	h3 {
		text-align: center;
	}

	h4 {
		margin: 0px;
		margin-top: 15px;
	}
	
	#mainImgWrapper {
		width: 100%;
		position: relative;

	}

	.mainImg {
		position: absolute;
		width: 100%;
	}


	.flexbox {
		display: flex;
		gap: 20px;
		width: 95%;
		text-align: center;
		margin: auto;
	}

	.flexbox > * {
		flex: 1;
	}

	#regionselect {
		text-align: center;
	}

	#center {
		flex: 3;
	}

	input[type="checkbox"] {
		accent-color: rgb(255, 153, 153);
	}

}




/*for the flip phone*/
@media (max-width: 899px) { /*flip phone 290px*/

	body {
		margin: 1px;
	}

	#leftside {
		display: none;
	}

	#rightside {
		display: none;
	}

	.mainImg {
		width: 225px;
	}

	h3 {
		text-align: center;
	}

}

















